.bp3-menu-item .bp3-menu-item-label {
  width: 15px;
  text-align: center;
}

.bp3-menu {
  max-height: 80vh;
  overflow: auto;
}

.sourcePanel {
  padding: 5px;
  background-color: white;
}

.sourcePanel .bp3-control-group :nth-child(3) {
  flex-grow: 1;
}

.sourcePanel .bp3-control-group :nth-child(3) > span {
  width: 100%;
}

.sourcePanel .bp3-control-group :nth-child(3) button {
  width: 100%;
  justify-content: left;
}

.sourcePanel .fileSelector .bp3-button-text {
  width: 100%;
}

.sourcePanel .fileExplanation {
  padding-left: 10px;
  padding-top: 10px;
}

.sourcePanel .fileExplanation [data-icon] {
  margin-right: 10px;
}

.untouchedItem {
  color: #999 !important;
}

.firstUntouchedItem,
.firstDeletedItem {
  border-top: 1px solid black;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.deletedItem {
  color: lightcoral !important;
}

.source-code.deleted code {
  text-decoration-line: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.bp3-control-group > :last-child div {
  border-radius: inherit;
}

[data-link-row] {
  border-radius: 4px;
}
[data-link-row] > span {
  cursor: pointer;
  background-color: #f2f2fe;
}
[data-link-row] > :not([class]):first-child + span {
  border-radius: 4px 0 0 4px;
}
[data-link-row] > [class]:first-child {
  border-radius: 4px 0 0 4px;
}
[data-link-row] > span:nth-last-child(2) {
  border-radius: 0 4px 4px 0;
}
[data-link-row]:hover {
  box-shadow: 0 0 3px blue;
}

.diff .added {
  background-color: rgb(143, 210, 143);
  color: black;
}

.diff .removed {
  background-color: rgb(128, 68, 68);
  color: white;
}

.diff {
  color: #777;
  background: transparent;
  text-shadow: white 0px 1px;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  overflow-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0px;
  overflow: auto;
  font-size: 0.8em;
}
