#root > div:first-child {
  background-color: aliceblue;
}

.presentationPanel {
  padding: 5px;
}

.presentationPanel .pageContent {
  margin-top: 1em;
  margin-left: 1em;
}

.presentationPanel img {
  max-width: 100%;
}

.presentationPanel img[data-presentation-link] {
  cursor: pointer;
}

.presentationBtnContainer {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin-bottom: 10px;
}

.presentationBtnContainer button {
  width: 100px;
}
